// Import variables
@import "abstracts/variables";

// Bootstrap functions, vars and mixins
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

p {
  padding: 0 2rem;
}

// Nav Section
.nav-link:hover:not(.active) {
  color: $secondary !important;
}

.navbar {
  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-nav {
    .nav-item-text {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 500;
      letter-spacing: 0.075rem;
    }
  }
  .modal-body {
    .nav-link,.btn{
        color: #fff;
        &:hover{
            color: $secondary;
        }
    }
    .btn-outline-light {
      border-color: #fff;
    }
  }
}

// Hero Media Breakpoints
@include media-breakpoint-down(lg) {
  .hero.row {
    flex-direction: column-reverse;
  }
}

@include media-breakpoint-down(xl) {
  .hero.row {
    text-align: center;
  }
}

// Button Customization
.btn {
  &:hover {
    background-color: white !important;
  }
}

.btn-primary {
  &:hover {
    color: $primary !important;
  }
}

.btn-light {
  background-color: $gray-100 !important;

  &:hover {
    border-color: $body-color !important;
  }
}

.btn-secondary {
  color: #fff !important;

  &:hover {
    color: $secondary !important;
  }
}

// Features Tab Section
@include media-breakpoint-up(lg) {
  .section-heading {
    width: 50%;
  }
}

#features-nav {
  @include media-breakpoint-up(xxl) {
    .nav-item {
      width: 20%;
    }
  }

  .nav-link {
    font-weight: 500;
    color: $body-color;
    opacity: 75%;
    border-bottom: none;
  }

  .nav-link.active {
    opacity: 90%;
    border-bottom: 0.3rem solid $secondary;

    &:hover {
      opacity: 100%;
    }
  }
}

// Card Customization
.card-link {
  border-top: 0.4rem dotted $border-color !important;
}

//FAQ Accordion Customization
@include media-breakpoint-up(lg) {
  #faq-accordion {
    width: 50%;
  }
}

.accordion-button {
  font-weight: 500;
  &:hover {
    color: $secondary;
  }
}

//Footer
footer {
  color: white;
  @include media-breakpoint-up(lg) {
    #footer-form-section {
      width: 35%;
    }
  }
  h6  {
    font-weight: normal;
    letter-spacing: 100px;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
