@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Custom Variables
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

$btn-font-weight: bold;
$btn-border-width: .15rem;
$btn-padding-x: 2.5rem;
$btn-padding-y: .4rem;
$h1-font-size: $font-size-base * 3;
$headings-font-weight: bold;

// Nav Section
.nav-link:hover:not(.active) {
    color: $secondary !important;
}

.navbar {
    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {
        .nav-item-text {
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 500;
            letter-spacing: .075rem;
        }
    }
}

// Hero Media Breakpoints
@include media-breakpoint-down(md) {
    .hero.row {
        flex-direction: column-reverse;
    }
}

@include media-breakpoint-down(xl) {
    .hero.row {
        text-align: center;
    }
}

// Button Customization
.btn-primary {
    &:hover {
        background-color: transparent !important;
        color: $primary !important;
    }
}

.btn-light {
    background-color: $gray-100 !important;

    &:hover {
        background-color: transparent !important;
        border-color: $body-color !important;
    }
}

.btn-secondary {
    color: #fff !important;

    &:hover {
        background-color: transparent !important;
        color: $secondary !important;
    }
}

// Features Tab Section
@include media-breakpoint-up(md) {
    .section-heading{
        width: 50%;
    }
}

#features-nav {
    @include media-breakpoint-up(xxl) {
        .nav-item {
            width: 20%;
        }
    }

    .nav-link {
        font-weight: 500;
        color: $body-color;
        opacity: 75%;
        border-bottom: none;
    }

    .nav-link.active {
        opacity: 90%;
        border-bottom: .3rem solid $secondary;

        &:hover {
            opacity: 100%;
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";